USE [master]
GO
/****** Object:  Database [db_a95266_cbshezi]    Script Date: 2023/02/24 11:19:28 ******/
CREATE DATABASE [db_a95266_cbshezi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_a95266_cbshezi_Data', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_a95266_cbshezi_DATA.mdf' , SIZE = 8192KB , MAXSIZE = 1024000KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'db_a95266_cbshezi_Log', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_a95266_cbshezi_Log.LDF' , SIZE = 3072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_a95266_cbshezi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_a95266_cbshezi]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2023/02/24 11:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[JobNo] [int] NOT NULL,
	[Description] [varchar](255) NULL,
	[OrderDate] [date] NULL,
	[Stage] [varchar](255) NULL,
	[ExpectedCompletionDate] [date] NULL,
	[PersonId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2023/02/24 11:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [varchar](255) NULL,
	[Firstname] [varchar](255) NULL,
	[Username] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_UserOrder] FOREIGN KEY([PersonId])
REFERENCES [dbo].[users] ([PersonId])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_UserOrder]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CHK_Stage] CHECK  (([Stage]='Design' OR [Stage]='Testing' OR [Stage]='Manufacturing' OR [Stage]='Procurement'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CHK_Stage]
GO
USE [master]
GO
